<%= form_for(@school_class) do |f| %>
  <h3>School Class Form</h3><br>
  <label>Title:</label><br>
  <%= f.text_field :title %><br>

  <label>Room number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>